@use "base" as *;
@use "components" as *;
@use "layouts" as *;
@use "pages" as *;
@use "partials" as *;



.top-hero{
    .top-hero-wrap{
        .carousel{
            .slider-img{
                width: 100%;
                height: 36rem;
                object-fit: cover;
                // border-radius: .4rem;
            }
        }

        
    }

    
}

.top-link{
    .card{
        height: 100%; 
        padding: 1.5rem;
        transition: .4s;
        border: 0;
        transition: background-color .4s ease;
        .card-img{
            width: 4rem;
        }

    }

    .row .col:nth-child(1) .card {
            background-color: lighten($secondary, 30);
            
            &:hover { background-color: lighten($secondary, 24); }
        }

        .row .col:nth-child(2) .card {
            background-color: lighten($primary, 54);
            &:hover { background-color: lighten($primary, 48); }
        }

        .row .col:nth-child(3) .card {
            background-color: lighten($warning, 30);
            &:hover { background-color: lighten($warning, 24) }
    }

}










.testimonial{
    background-color: $bg-light;
    padding-bottom: 5rem;
}
