@use '../base/index' as *;
@use '../partials/variables' as *;



.service-card {
    // border: 1px solid #e2e2e2;
    border-bottom: 6px solid $primary;
    box-shadow: $shadow-sm;
    padding: 34px;
    transition: border-bottom .4s ease;
    height: 100%;

    .service-icon {
        width: 64px;
        height: 64px;
        object-fit: contain;
    }

    &:hover {
        border-bottom: 6px solid $secondary;
    }
}

@media (max-width: 576px) {
    .service-card {
        border-bottom: 4px solid $primary;
        padding: 16px;

        .service-icon {
            width: 44px;
            height: 44px;
        }

    }
}