@use "../partials/index" as *;
@use "../base/index" as *;


body {

    // background-color: $bg-light;
    .user-profile {
        padding-top: 8.5rem;
        padding-bottom: 5rem;
        // background-color: $bg-color;
        height: 100vh;


        // profile setting page css
        .user-setting {
            .profile-detail {
                h5 {
                    padding: 1rem;
                    background-color: $bg-deep
                }
            }
        }

    }



}

.profile-setting {
    height: fit-content !important;
    // background-color: $bg-color;
}




// media start

@media (max-width: 596px) {
    .sidebar {
        width: 180px !important;

        .user-photo {
            img {
                width: 5rem;
                height: 5rem;
                border: 3px solid $light !important;
            }
        }

        .nav-item {
            padding-left: 1rem !important;
            font-size: .75rem !important;
        }
    }
}





///////////////////////////////////
/// 
@media (min-width: 992px) {
    .user-profile {
        padding-left: 280px;
    }
}

@media (min-width: 1620px) {
    .user-profile {
        padding-left: 200px;
    }
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    height: 100vh !important;
    background-color: $primary;

    .user-photo {
        color: $light;

        img {
            border: 5px solid $light;
            width: 10rem;
            height: 10rem;
        }
    }

    .nav-item {
        color: $light;
        padding-left: 2rem;
        transition: .3s;
        margin-top: .3rem;

        &:hover {
            background-color: lighten($color: $primary, $amount: 5);
        }
    }
}


.sidebar .active {
    // border-radius: 5px;
    background-color: lighten($color: $primary, $amount: 3);
    // box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    // position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}